.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.btn {
  font-size: 1.25rem;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eraseBtn {
  font-size: 1rem;
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: repeat(10, 1fr);
  }
}
